.bg1 {
    width: 100%;
    height: 100vh;
    background-image: url('./img/bg1.png');
    background-size: cover;
}

.bg2 {
    width: 100%;
    height: 100vh;
    background-image: url('./img/bg2.png');
    background-size: cover;
}

.container {
    /* border: solid;
    border-color: red; */
    width: 80%;
    margin: 0 auto;

}

.space-black{
    width: 100%;
    height: 200px;
    background-color: #000000;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 75px;
}

.menu {
    width: 50%;
    margin: auto 0;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

a {
    color: #ffffff;
    text-decoration-line: none;
    font-weight: 300;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}

li {
    list-style-type: none;
}

.logo {
    margin: auto 0;
    color: #ffffff;
}

.title-left {
    margin-top: 10%;
    margin-left: 0px;
    margin-right: auto;
    width: 50%;
    color: #ffffff;
}

.title-right {
    margin-top: 20%;
    margin-left: auto;
    margin-right: 0px;
    width: 50%;
    color: #ffffff;
}

.colorbg-down-to-up {
    height: 200px;
    width: 100%;
    background: linear-gradient(0deg, #000000 10%, #FFFFFF00 90%);
    margin-top: -200px;
}

.colorbg-up-to-down {
    height: 200px;
    width: 100%;
    background: linear-gradient(180deg, #000000 10%, #FFFFFF00 90%);
    margin-bottom: -200px;
}

.moto-text_238 {
    font-size: 23px;
    line-height: 1.2;
    letter-spacing: 0px;
}

.moto-text_system_3 {
    font-weight: 700;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: #ebebeb;
    font-size: 76px;
    line-height: 0;
    letter-spacing: 0px;
}

.moto-text_system_9 {
    font-weight: 300;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
}